<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <context-param>
  <param-name>shoe</param-name>
  <param-value>3000</param-value>
  </context-param>
  
  <context-param>
  <param-name>shirt</param-name>
  <param-value>1500</param-value>
  </context-param>
  
  <servlet>
  <servlet-name>regular</servlet-name>
  <servlet-class>buyproduct.Regular</servlet-class>
  
  <init-param>
  <param-name>discount</param-name>
  <param-value>10</param-value>
  </init-param>
  
  </servlet>
 
 <servlet-mapping>
 <servlet-name>regular</servlet-name>
 <url-pattern>/regular</url-pattern>
 </servlet-mapping>
  
</web-app>
